@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --main-bg-color: #2028b3;
  --secondary-color: #f64b71;
  --secondary-bg-color: #333;
}

.dayOne-body {
  position: relative;

  height: 100%;
  width: 100%;
  background: #fff;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* Header */

.me-theme-header {
  background: var(--main-bg-color);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  border-bottom: 1px solid #333;
}

.me-theme-header h3 {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.navbar-nav {
  list-style: none;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.navbar-nav li {
  padding: 0 30px;
  margin-bottom: 0;
}

.navbar-nav li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-nav li a:hover {
  color: var(--secondary-color);
}

.hamburger-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;

  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.hamburger-container:hover {
  background: #222;
}

.side-nav {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  height: 0;
  background: #333;

  width: 100%;
  list-style: none;
  transition: 0.5;
}

.side-nav li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  cursor: pointer;
  opacity: 0;
}

.side-nav li a:hover {
  color: var(--secondary-color);
}

/* Showcase */

.showcase-container {
  height: 850px;

  width: 100%;
  background: var(--main-bg-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}

.showcase-container h1 {
  font-weight: 200;
}

.showcase-container h1:nth-child(3) {
  margin-left: 20px;
}

.me-img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.12);
}

/* What am i? */
.whatami {
  height: 450px;
  background: var(--secondary-bg-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.whatami h1 {
  margin-bottom: 0;
}

.whatami .bottom-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.whatami .bottom-container p {
  text-align: center;
  margin-bottom: 25px;
}

.search-btn {
  border: none;
  background: #f1f1f1;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn:hover {
  background: #e6e6e6;
}

.search-btn:focus {
  outline: none;
}

/* Where */

.where-container {
  height: auto;
  color: #000;
  padding: 50px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 350px;
}

.where-container h1 {
  margin: 100px auto;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'one two three';
}

.thumbnail {
  height: 400px;
}

.thumbnail img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.thumbnail.one {
  grid-area: one;
}

.thumbnail.two {
  grid-area: two;
}

.thumbnail.three {
  grid-area: three;
}

/* Footer */

.me-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #111;
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.me-footer p {
  margin: 0;
}

.me-footer p:nth-of-type(2) {
  margin-bottom: 10px;
}

.me-footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* Media Queries */

@media screen and (max-width: 776px) {
  .navbar-nav {
    display: none;
  }
  .hamburger-container {
    display: flex;
  }
  .whatami .bottom-container p {
    font-size: 0.8em;
  }
  .gallery {
    grid-template-areas: 'one' 'two' 'three';
  }
  .gallery img {
    width: 100%;
  }
}

@media screen and (max-width: 665px) {
  header {
    padding: 0 10px;
  }
}
